<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2" routerLink="">
      <img src="assets/logo.png" alt="Logo GameMatch" width="50" height="50" class="logo-gamematch">
      <span class="brand-title">GameMatch</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/game-match">Sección <span class="text-warning">Número 1!</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/videojuegos">Sección 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar en mi colección..." aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<div class="navbar-spacer"></div>
