@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap');


:root {
    color-scheme: light dark;
}

html, body {
  background: linear-gradient(-45deg, #5a60da, #764ba2, #667eea, #3f3d56);
  background-size: 400% 400%;
  height: 100%;
  animation: bg-gradient-animation 15s ease infinite;
  position: relative;
  z-index: 1;
}

@keyframes bg-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
